/* body{
    text-align:center;
    padding:270px;
    /* border:2px solid black; */
    /* margin:100px; */
    /* padding-left: 70px; */
    #hi{
        margin-top: 250px; 
        margin-bottom: 500px; 
       /* text-align:center;*/
        /* padding:200px;  */
   }
   #btn{
     position: relative;
     bottom: 550px;  
   }